﻿<table style="width: 100%;">
    <tbody>
        <tr>
            <td colspan="2">เรียน&emsp;&emsp;&emsp;PolicyProposerFullName</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">เรื่อง&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;แจ้งขอเอกสารเพิ่มเติมเพื่อพิจารณาการรับประกันชีวิตกรมธรรม์เลขที่&nbsp;PolicyNumber&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;บริษัทฯ ได้พิจารณาคำขอเอาประกันภัยของท่านแล้ว แต่ยังไม่สามารถดำเนินเรื่องรับประกันได้ เนื่องจากข้อมูลบางส่วนยังไม่ครบถ้วน จึงมีความจำเป็นที่จะต้องขอความร่วมมือจากท่าน เพื่อดำเนินการส่งเอกสารเพิ่มเติม รายละเอียดตามแนบ</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;ทั้งนี้บริษัทฯ ได้ติดต่อตัวแทนประกันชีวิตเพื่ออำนวยความสะดวกแก่ท่านแล้ว จึงขอความร่วมมือท่านในการดำเนินการให้แล้วเสร็จภายใน 15 วัน นับจากวันที่บริษัทฯ ได้แจ้งข้อมูลให้ทราบในอีเมลนี้  หากท่านดำเนินการเรียบร้อยแล้ว บริษัทฯ ต้องขออภัยเป็นอย่างสูง และหวังเป็นอย่างยิ่งว่าจะมีโอกาสเป็นผู้บริการความคุ้มครองแก่ท่าน และครอบครัวสืบไป</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">ขอแสดงความนับถือ</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">ฝ่ายพิจารณารับประกัน</td>
        </tr>
        <tr>
            <td colspan="2">บริษัท อาคเนย์ประกันชีวิต จำกัด (มหาชน)</td>
        </tr>
    </tbody>
</table>